:root{
  --shirt: #141518;
}
ul{
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

ul li{
  margin: 5px;
  padding: 0;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  cursor: pointer;
}
li#green{
  background-color: green;
}
li#red{
  background-color: red;
}
li#purple{
  background-color: purple;
}
li#brown{
  background-color: brown;
}
li#blue{
  background-color: blue;
}
li#violet{
  background-color: violet;
}
.girl {
  position: relative;
  width: 194px;
  margin: 0 auto;
}
.girl .head {
  height: 210px;
  position: relative;
}

.girl .head .hair .triangle {
  width: 0;
  height: 12px;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-bottom: 21px solid #000;
  position: absolute;
  top: 72px;
  z-index: 1;
}
.girl .head .hair .triangle::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 19px solid transparent;
  border-bottom: 17px solid #ffdbc8;
  position: absolute;
  top: 16px;
  left: -17px;
}
.girl .head .hair .triangle.left {
  left: 38px;
}
.girl .head .hair .triangle.center {
  left: 77px;
  border-left: 20px solid transparent;
  border-right: 17px solid transparent;
}
.girl .head .hair .triangle.center::before {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
.girl .head .hair .triangle.right {
  left: 110px;
}
.girl .head .face {
  position: absolute;
  left: 50%;
  top: 104px;
  z-index: 1;
  transform: translatex(-50%);
  height: 101px;
  width: 135px;
  background-color: #ffdbc8;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-right: 5px solid #000;
  border-bottom: 3px solid #000;
  border-left: 5px solid #000;
  box-shadow: inset 0px -6px 1px 0px #eea18b;
}
.girl .head .face .content {
  position: relative;
  z-index: 7;
  margin-top: 13px;
  height: 5px;
  background-color: black;
  border: 3px solid #b8571d;
}
.girl .head .face .content .eye {
  height: 35px;
  width: 44px;
  background-color: #000;
  border-radius: 15px;
  position: absolute;
  top: -14px;
  border: 3px solid #b8571d;
  /* border-top: none; */
}
.girl .head .face .content .eye::before {
  /* content: ""; */
  display: block;
  width: 23px;
  height: 9px;
  background-color: transparent;
  box-shadow: inset -2px 3px 0 1px #000;
  border-radius: 50%;
  transform: rotate(-10deg);
  position: absolute;
  top: -16px;
  left: -5px;
}
.girl .head .face .content .eye.left {
  left: 11px;
}
.girl .head .face .content .eye.right {
  right: 11px;
}
.girl .head .face .content .eye.right::before {
  transform: rotateX(28deg) rotateY(202deg);
}
.girl .head .face .content .dot {
  position: relative;
  width: 7px;
  height: 7px;
  background-color: #eea18b;
  border-radius: 50%;
}
.girl .head .face .content .dot::before, .girl .head .face .content .dot::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: #eea18b;
  position: absolute;
  border-radius: 50%;
}
.girl .head .face .content .dot::before {
  top: 10px;
  left: 7px;
}
.girl .head .face .content .dot::after {
  top: 2px;
  left: 15px;
}
.girl .head .face .content .dot.left {
  top: 29px;
  left: 21px;
}
.girl .head .face .content .dot.right {
  top: 33px;
  left: 99px;
}
.girl .head .face .content .nose {
  position: absolute;
  top: 21px;
  left: 50%;
  transform: translatex(-50%);
  width: 20px;
  height: 15px;
  border-radius: 50%;
  border-bottom: 5px;
  border-bottom-color: #000;
  border-bottom-style: solid;
  box-shadow: inset 0px -4px 1px 0px #eea18b, inset -6px -5px 7px 1px #ffefdb;
}
.girl .head .face .content .ear {
  position: absolute;
  top: -2px;
  width: 12px;
  height: 22px;
  border: 3px solid #000;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: #eea18b;
}
.girl .head .face .content .ear::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border: 3px solid #000;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: #eea18b;
  position: absolute;
  left: 3px;
  top: 5px;
}
.girl .head .face .content .ear.left {
  left: -21px;
}
.girl .head .face .content .ear.right {
  left: 133px;
  transform: rotate(180deg);
}
.girl .head .face .content .mouse {
  position: absolute;
  top: 39px;
  left: 50%;
  transform: translatex(-50%);
  width: 41px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  border-bottom: 5px;
  border-bottom-color: #000;
  border-bottom-style: solid;
}
.girl .torso {
  position: relative;
  top: 0;
  z-index: 0;
  width: 91px;
  height: 103px;
  background-color: var(--shirt);
  margin: 0 auto;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}
.girl .torso::before {
  content: "";
  display: block;
  height: 14px;
  width: 42px;
  background-color: #efb08f;
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translatex(-50%);
  border-radius: 50%;
  border: 3px solid #000;
  box-shadow: 0 2px 0px 2px var(--shirt), 0 2px 0 4px #000;
}
.frok{
  border-bottom: 100px solid var(--shirt);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 100px;
}
.girl .hand {
  position: absolute;
  top: 215px;
  height: 50px;
  width: 28px;
  background-color: var(--shirt);
}
.girl .hand.left {
  left: 41px;
  transform: rotate(21deg);
  border-top-left-radius: 50%;
  border-top-right-radius: 32%;
}
.girl .hand.left::before {
  left: 1px;
}
.girl .hand.left::after {
  left: -6px;
}
.girl .hand.right {
  right: 41px;
  transform: rotate(-21deg);
  border-top-right-radius: 50%;
  border-top-left-radius: 32%;
}
.girl .hand.right::before {
  right: 1px;
}
.girl .hand.right::after {
  left: 4px;
}
.girl .hand::before {
  content: "";
  display: block;
  height: 46px;
  width: 17px;
  background-color: #ffdbc8;
  position: absolute;
  top: 50px;
}
.girl .hand::after {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #ffdbc8;
  position: absolute;
  top: 93px;
}
.girl .legs {
  width: 80px;
  height: 86px;
  margin: 0 auto -10px;
}
.girl .legs .leg {
  width: 45%;
  height: 100%;
  display: inline-block;
  position: relative;
  z-index: 1;
  background-color: #37649b;
}
.girl .legs .leg::after {
  content: "";
  position: absolute;
  left: 1px;
  z-index: 0;
  bottom: -20px;
  width: 100%;
  height: 30px;
  background-color: #000;
  border-radius: 50px 50px 5px 5px;
}
.girl .legs .leg.right {
  float: right;
}

.badge-ribbon {
  position: relative;
  background: firebrick;
  height: 208px;
  width: 196px;
  border-radius: 50%;
}
.badge-ribbon:before,
.badge-ribbon:after {
  content: '';
  position: absolute;
  border-bottom: 70px solid firebrick;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  top: 179px;
  left: -10px;
  transform: rotate(-140deg);
}
.badge-ribbon:after {
  left: auto;
  right: -15px;
  transform: rotate(140deg);
}
