body{
    display: flex;
    flex-direction: column;
    background-color: beige;
    font-family: 'Chilanka',cursive;
    font-size: 1em;
}
label{
    font-weight: bold;
    font-size: 1.5em;
}

h1{
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    border: none;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-image: repeating-linear-gradient(45deg, #e91e638f, #ffeb3b94 100px);
    box-shadow: 0px 0px 7px 9px #9c27b075, inset 0px 0px 8px 8px #9c27b075;
}

input, label, select {
    padding: 10px;
    border-radius: 7px;
    border: none;
    margin-bottom: 5px;
}
.main div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit{
    border: none;
    padding: 20px;
    border-radius: 10px 0 10px 0;
    transition: all 0.4s ease;
    color: #d01708;
    font-size:1.3em;
    background-color: #0d2b28;

}
.submit:hover{
    color: darkcyan;
    font-weight: 700;
    letter-spacing: 4px;
    background: none;
    transition: all 0.4s ease; 
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}
