header{ 
    display: flex;
    background-color: rgb(249, 188, 7);
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);

}
.link{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    float: left;
    margin: 15px;
}

.link:hover{
  color: red;
}
.list-container{
    list-style-type: none;
}
i{
    font-weight: 900;
    color: #ff4c01;
}
i:hover{
    color: white;
}
.homepg-nav{
   display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: auto;
    background-image: linear-gradient(to right,yellow, #ec963c , yellow);
}
.LetsPlay{
    display: block;
}
.main-heading{
    color: #ffd437;
    font-size: -webkit-xxx-large;
    margin-top: 50px;
    font-family: 'Anton', sans-serif;
    text-decoration: underline;
    text-shadow: 2px 2px #0e0c0c;
}
.sub-heading{
    color: black;
    font-size: larger;
}
.play-game{
    border: none;
    padding: 22px 51px;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.4s ease;
    color: #d01708;
    font-size: xx-large;
    background-color: #0d2b28;
    outline: none;
    margin: 20px;
}
.play-game:hover{
    color: white;
    font-weight: 700;
    letter-spacing: 4px;
    background: none;
    transition: all 0.4s ease; 
}
.logo{
    margin: 20px;
    width:100px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
}


