header{ 
    display: flex;
    background-color: rgb(249, 188, 7);
}
.link{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    float: left;
    margin: 10px;
}
.link:hover{
  color: rgb(255, 251, 0);
}
.list-container{

    list-style-type: none;
    padding: 20px;
}
.homepg-nav{
    width: 100%;
    overflow: auto;
}

.LetsPlay{
    display: block;
}

.main-heading{
    color: #b50f02;
    font-size: -webkit-xxx-large;
    margin-top: 50px;
    font-family: 'Anton', sans-serif;
    text-decoration: underline;
}
.sub-heading{
    color: black;
    font-size: larger;
}
.play-game{
    border: none;
    padding: 22px 51px;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.4s ease;
    color: #d01708;
    font-size: xx-large;
    background-color: #0d2b28;
    outline: none;
    margin: 20px;

}
.play-game:hover{
    color: darkcyan;
    font-weight: 700;
    letter-spacing: 4px;
    background: none;
    transition: all 0.4s ease; 
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}


