body{
    display: flex;
    flex-direction: column;
    background-color: beige;
    font-family: 'Chilanka',cursive;
    font-size: 1em;
}
label{
    font-weight: bold;
    font-size: 1.5em;
}

h1{
    text-align: center;
}

.main{
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    width: fit-content;
}

.colorChoose{
    display: flex;
    flex-direction: row;

}

input{
    margin-top: 20px;
}
.nametwo{
    background-color: beige;
}

label{
    margin: 20px;
}
select{
    margin: 20px;
    font-weight: bold;
    
}

.submit{
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    background-color: #3f51b5;
    color: black;

}



.submit:hover{
    cursor: pointer;
    color:#3f51b5;
    background-color: black;

}


